<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit-icons.min.js"></script>
    <title>Welcome , {{request.user.username}}</title>
   <style>
       body {
        background: #f8f8f8;
       }
       </style>
</head>
<body>
    <div class="uk-container">
    <nav class="uk-navbar-container uk-margin" uk-navbar>
        <div class="uk-navbar-center">
    
            <div class="uk-navbar-center-left"><div>
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="#">Active</a></li>
                    <li>
                        <a href="#">Parent</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a href="#">Active</a></li>
                                <li><a href="#">Item</a></li>
                                <li><a href="#">Item</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div></div>
            <a class="uk-navbar-item uk-logo" href="#">Teacher, {{request.user.username}}</a>
            <div class="uk-navbar-center-right"><div>
                <ul class="uk-navbar-nav">
                    <li><a href="{% url 'logOut' %}">Logout</a></li>
                </ul>
            </div></div>
    
        </div>
    </nav>
    <hr class="uk-divider-icon">
    <div class="uk-tile uk-tile-default uk-padding-large">
        <p>My Department: <b>{{teacher.dept}}</b></p>
       <p> Department HOD: <b>{{teacher.dept.department_hod}}</b></p>
      
       <p>Teaching From: <b>{{teacher.teacher_name.date_joined}}</b></p>
       <p>Last Login : <b>{{teacher.teacher_name.last_login}}</b></p>
    </div>

    <hr class="uk-divider-icon">
    <h2>My Batches</h2>
    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Batches</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>{{teacher.dept.batches}}</td>
                <td></td>
                <td></td>
                <!-- <td>Table Data</td> -->
            </tr>

        </tbody>
    </table>


    <table class="uk-table uk-table-hover uk-table-divider">
        <thead>
            <tr>
                <th>Student  Name</th>
                <!-- <th>Qualifcatoin</th>
                <th>Email</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>

                <td></td>
                <!-- <td>{{dept.department_teacher.get_highest_qualification_display}}</td>
                <td>{{dept.department_teacher.nu_email}}</td> -->
                <!-- <td>Table Data</td> -->
            </tr>

        </tbody>
    </table>
</div>
</body>
</html>

