<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us </title>
    <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Document</title>
<style type="text/css">
body {
  color: #8B9AA7;
  font-family: Arial,sans-serif;
}

.carousel-inner{
  height: 31em;
}

.navbar-custom{
  background-color: #3f51b5;
}

a {
  color: white;
}
a:hover {
  color:white;
  border-bottom: 1px solid #8B9AA7;

}

</style>
</head>
<body>
  



          <nav class="navbar navbar-expand-lg" style="background-color:#03244d; color: white;">
            <a class="navbar-brand" href="#">CMS</a>
            <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon" ></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto" style="margin-left: 60%;">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'index' %}">Home </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Admissions</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Academic
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'computer' %}">Computer Sciecne</a>
                    <a class="dropdown-item" href="{% url 'math' %}">Math</a>

                    <a class="dropdown-item" href="{% url 'political' %}">Political Science</a>
                  </div>
                </li>
           
                                <li class="nav-item">
                  <a class="nav-link" href="{% url 'contact' %}" >Contact Us <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login'  %}">Student Portal</a>
                </li>
              </ul>          
        
            </div>
          </nav>
     


    

          <div class="jumbotron jumbotron-fluid" style="background-color: white;">
            <div class="container">
              <div class="row">
                <div class="col-6">
               <h1>About the University</h1>
               <h3>Vision :</h3>
               <p>"To Be Among the Top Universities of the World through Education, Research and Innovation" </p>

              <h3> Mission :</h3>

<p>               "To produce highly qualified, well-rounded professionals through education who play a leading role in the society by powering and driving knowledge-based economy and offer research services and innovation for sustainable development"
</p>               
<p style="color:royalblue;"><b>Core Values :</b>
       
    <p align="justify">
    1.&nbsp;&nbsp; Integrity <br>
    2.&nbsp;&nbsp; Teamwork <br>  
    3.&nbsp;&nbsp; Quality <br>
    4.&nbsp;&nbsp; Tolerance <br>
    5.&nbsp;&nbsp; Gender equality <br>
    6.&nbsp;&nbsp; Social responsibility <br>
    7.&nbsp;&nbsp; Collaboration <br>
    8.&nbsp;&nbsp; Transparency <br>
    9.&nbsp;&nbsp; Professionalism <br>
    10.&nbsp; Sustainability <br>
    
    </p>
  </div>


  <hr class="clearfix w-100 d-md-none pb-3">
    <div class="col-6">
    <h3>Campus Location</h3>
                <div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Govt%20Post%20Graduate%20College%20Lakki%20Marwat&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://2piratebay.org">uber0n</a></div><style>.mapouter{position:relative;text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
            
              </div>
            </div>

              </div>
      </div>

      <!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> SADH</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
</body>
</html>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>



