<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit-icons.min.js"></script>
    <title>GPGC Lakki Marwat</title>
   <style>
       <style>
  
  body {
   background: #fafafa;;
  }

  #nav {
      background-color: #03244d;
      color:white;

  }

  #nav a{
      color:white;
  }

  #nav h3 {
      color:white;
  }

  #title {
      border: 1px solid  #03244d;
      border-radius: 5px;
  }

  footer {
      border-top: 1px solid black;
      margin-top: 2em;
      text-align: center;
  }

  footer p {
      margin-top: 2em;
  }
       .team-member-item {
	max-width: 350px;
}

.team-member-item .cover-image {
	height: 350px;
}

@media (min-width: 960px) {
	.team-member-item:nth-child(even) {
		margin-top: 50px;
	}
}
  
       </style>

</head>


<body>
  <nav class="uk-navbar-container uk-margin" uk-navbar id="nav">
    <div class="uk-navbar-center">

        <div class="uk-navbar-center-left"><div>
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="{% url 'about' %}">About Us </a></li>
                <li>
                    <a href="#">Academic</a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                          <li class="uk-active"><a style="color:black"  href="#">Computer Science</a></li>
                          <li><a style="color:black"  href="#">Math</a></li>
                          <li><a style="color:black"  href="#">Political Science</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="{% url 'login'  %}">Department Managment System</a>
        <div class="uk-navbar-center-right"><div>
            <ul class="uk-navbar-nav">

                <li><a href="{% url 'admissions' %}">Admission</a></li>
                <li><a href="{% url 'contact' %}">Contact Us</a></li>
            </ul>
        </div></div>

    </div>
</nav>

  <div class="uk-section uk-position-relative uk-overflow-hidden" uk-scrollspy="cls:uk-animation-fade; offset-top: 80px; delay: 300">
    
    <div class="uk-container uk-position-relative">
      <h3>Our Team</h3>
      <div class="uk-flex uk-flex-center" uk-grid uk-scrollspy="cls:uk-animation-fade; target: .team-member-item; delay: 300">
        <div class="uk-width-1-2 uk-width-1-4@m uk-transition-toggle team-member-item">
          <div class="uk-background-cover uk-transition-toggle uk-margin-bottom uk-position-relative cover-image" data-src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay-primary uk-overlay-dark uk-flex uk-flex-center uk-flex-middle">
              <ul class="uk-iconnav">
                <li><a href="#"><span uk-icon="facebook"></span></a></li>
                <li><a href="#"><span uk-icon="twitter"></span></a></li>
                <li><a href="#"><span uk-icon="instagram"></span></a></li>
                <li><a href="#"><span uk-icon="linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <span class="uk-display-block uk-text-bold">Manuella Nevoresky</span>
          <span class="uk-display-block">CEO - FOUNDER</span>
        </div>
        <div class="uk-width-1-2 uk-width-1-4@m uk-transition-toggle team-member-item">
          <div class="uk-background-cover uk-transition-toggle uk-margin-bottom uk-position-relative cover-image" data-src="{% static '../static/abid.jpg'%}" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay-primary uk-overlay-dark uk-flex uk-flex-center uk-flex-middle">
              <ul class="uk-iconnav">
                <li><a href="#"><span uk-icon="twitter"></span></a></li>
                <li><a href="https://instagram.com/abidgulshahid"><span uk-icon="instagram"></span></a></li>
                <li><a href="https://linkedin.com/abidgulshahid"><span uk-icon="linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <span class="uk-display-block uk-text-bold">Abid Gul Shahid</span>
          <span class="uk-display-block">Backend Developer</span>
        </div>
        <div class="uk-width-1-2 uk-width-1-4@m uk-transition-toggle team-member-item">
          <div class="uk-background-cover uk-transition-toggle uk-margin-bottom uk-position-relative cover-image" data-src="https://images.pexels.com/photos/532220/pexels-photo-532220.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay-primary uk-overlay-dark uk-flex uk-flex-center uk-flex-middle">
              <ul class="uk-iconnav">
                <li><a href="#"><span uk-icon="facebook"></span></a></li>
                <li><a href="#"><span uk-icon="twitter"></span></a></li>
                <li><a href="#"><span uk-icon="instagram"></span></a></li>
                <li><a href="#"><span uk-icon="linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <span class="uk-display-block uk-text-bold">Tom Sunderland</span>
          <span class="uk-display-block">CEO - FOUNDER</span>
        </div>
        <div class="uk-width-1-2 uk-width-1-4@m uk-transition-toggle team-member-item">
          <div class="uk-background-cover uk-transition-toggle uk-margin-bottom uk-position-relative cover-image" data-src="{% static '../static/danial.jpg'%}" uk-img>
            <div class="uk-transition-fade uk-position-cover uk-overlay-primary uk-overlay-dark uk-flex uk-flex-center uk-flex-middle">
              <ul class="uk-iconnav">
                <li><a href="#"><span uk-icon="facebook"></span></a></li>
                <li><a href="#"><span uk-icon="twitter"></span></a></li>
                <li><a href="#"><span uk-icon="instagram"></span></a></li>
                <li><a href="#"><span uk-icon="linkedin"></span></a></li>
              </ul>
            </div>
          </div>
          <span class="uk-display-block uk-text-bold">Muhammad Danial </span>
          <span class="uk-display-block">Frontend Developer</span>
        </div>
      </div>
      
      <hr class="uk-divider-icon">

      <!-- LETS TALK -->
      <div class="uk-container uk-container-large">
        <div class="uk-grid-large uk-margin" uk-grid>
          <div class="uk-grid-item-match uk-flex-middle uk-width-expand@m">
            <div class="uk-panel">
              <h1 class="uk-heading-hero">Let’s talk</h1>
              <div class="uk-divider-small"></div>
              <div class="uk-margin uk-width-xlarge">
                <p>If you need more information about any of our services, do not hesitate to contact us.</p>
                <p>Phone: (907) 230-0259<br />Email: info@yourdomain.com<br /><br /></p>
                <p>8263 Courtland Dr.<br />Romeoville, IL 60446</p>
              </div>
              <div class="uk-margin">
                <div class="uk-flex-middle uk-grid-small uk-child-width-auto" uk-grid>
                  <div>
                    <a href="#" target="_blank" title="Facebook" class="uk-button uk-button-text">
                      <span uk-icon="facebook"></span>
                    </a>
                  </div>
                  <div>
                    <a href="#" target="_blank" title="Instagram" class="uk-button uk-button-text">
                      <span uk-icon="instagram"></span>
                    </a>
                  </div>
                  <div>
                    <a href="#" target="_blank" title="Pinterest" class="uk-button uk-button-text">
                      <span uk-icon="pinterest"></span>
                    </a>
                  </div>
                  <div>
                    <a href="#" target="_blank" title="LinkedIn" class="uk-button uk-button-text">
                      <span uk-icon="linkedin"></span>
                    </a>
                  </div>
                  <div>
                    <a href="#" target="_blank" title="Yelp!" class="uk-button uk-button-text">
                      <span uk-icon="yelp"></span>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="uk-grid-item-match uk-flex-middle uk-width-expand@m">
            <div class="uk-panel">
              <div class="uk-margin">
                <form action="" method="post">
                  <div class="uk-margin">
                    <label class="uk-form-label" for="name">Name</label>
                    <input type="text" name="name" id="form-s-text" placeholder="Enter your name..." class="uk-input">
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="email">E-Mail</label>
                    <input type="text" name="email" id="form-s-text" placeholder="Enter your E-Mail address..." class="uk-input">
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="subject">Subject</label>
                    <input type="text" name="subject" id="form-s-text" placeholder="Enter your subject..." class="uk-input">
                  </div>
                  <div class="uk-margin">
                    <label class="uk-form-label" for="message">Message</label>
                    <textarea name="message" id="messafe" rows="5" placeholder="Enter your message..." class="uk-textarea"></textarea>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  </div>
  
</body>
</html>