{% if request.user.is_student%}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>GPGC | Student CMS</title>
    {% load static %}

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static '../static/style5.css'%}">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>CMS</h3>
                </div>

                <ul class="list-unstyled components">
                    <p>			Hello, {{request.user.student}}</p>
                    <li class="active">
                        <a href="{% url 'student' %}" data-toggle="collapse" aria-expanded="false">Home</a>

                    </li>
                        <li>
                        <a href="{% url 'courses' %}">Courses</a>
                    </li>

                    <li>
                        <a href="{% url 'show_attendence' %}">Assignments</a>
                    </li>
                    <li>

                        <a href="{% url 'show_attendence' %}">Attendence</a>
                        <a href="{% url 'marks' %}">Result</a>
                        <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul> -->
                    </li>
                    <!-- <li>
                        <a href="#">Transcript</a>
                    </li> -->
                    <li>
                        <a href="{% url 'student_profile' %}">Profile</a>
                    </li>
                    <li>
                       <a href="{% url 'logOut' %}">Logout</a>
                    </li>
                </ul>


            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li> -->
                            </ul>

                        </div>
                    </div>
                </nav>

    <div class="card" style="width: 40em;background: #022044;color: white;padding: 2em;    box-shadow: 2em 2em 2em 2em #c5c5c5;">

      <div class="card-body">
        <h3 class="card-title"><code>Profile Overview</code></h3>
        <h5 class="card-subtitle mb-2 text-muted" style="color:white;"><b>Username: {{request.user.username}}</b></h5>
        <p class="card-text" style="color:white;">Email:   {{request.user.email}}</h5>
        <p class="card-text" style="color:white;">Batche No: {{request.user.student.class_id.id}}
          <br> Department: {{request.user.student.class_id.dept}}

          <br> Current Semester: {{request.user.student.class_id.sem}}


</p>

      </div>

    </div>

                <div class="line"></div>

                <div class="line"></div>


            </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
    </body>
</html>


{% else %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>GPGC | Student CMS</title>
    {% load static %}

         <!-- Bootstrap CSS CDN -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="{% static '../static/style5.css'%}">
    </head>
    <body>



        <div class="wrapper">
            <!-- Sidebar Holder -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>CMS</h3>
                </div>

                <ul class="list-unstyled components">
					<p>			Hello, {{user}}</p>
					
                    <li class="active">
                        <a href="{% url 'student' %}" data-toggle="collapse" aria-expanded="false">Home</a>

                    </li>
                        <li>
                        <a href="#">Courses</a>
                    </li>

                    <li>

                        <a href="#">Attendence</a>
                        <a href="#" data-toggle="collapse" aria-expanded="false">Result</a>
                        <!-- <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li><a href="#">Page 1</a></li>
                            <li><a href="#">Page 2</a></li>
                            <li><a href="#">Page 3</a></li>
                        </ul> -->
                    </li>
                    <li>
                        <a href="#">Transcript</a>
                    </li>
                    <li>
                        <a href="#">Profile</a>
                    </li>
                    <li>
                       <a href="{% url 'logOut' %}">Logout</a>
                    </li>
                </ul>


            </nav>

            <!-- Page Content Holder -->
            <div id="content">

                <nav class="navbar navbar-default">
                    <div class="container-fluid">

                        <div class="navbar-header">
                            <button type="button" id="sidebarCollapse" class="navbar-btn">
                                <span></span>
                                <span></span>
                                <span></span>
                            </button>
                        </div>

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li>
                                <li><a href="#">Page</a></li> -->
                            </ul>

                        </div>
                    </div>
                </nav>


                <div class="line"></div>
				<p style="color: black;">Your Account Has Been Created. Wait For Admin to Assigned you as a Student.</p>

                <div class="line"></div>


            </div>
        </div>





        <!-- jQuery CDN -->
         <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
         <!-- Bootstrap Js CDN -->
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <script type="text/javascript">
             $(document).ready(function () {
                 $('#sidebarCollapse').on('click', function () {
                     $('#sidebar').toggleClass('active');
                     $(this).toggleClass('active');
                 });
             });
         </script>
    </body>
</html>



{% endif %}
