<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}

     <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/css/uikit.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.5.17/dist/js/uikit-icons.min.js"></script>
    <title>GPGC Lakki Marwat</title>
   <style>
  
    

       #nav {
           background-color: #03244d;
           color:white;

       }

       #nav a{
           color:white;
          
       }


       #nav h3 {
           color:white;
       }

      .dp:hover {
        font-weight: bolder;
      }
       #title {
           border: 1px solid  #03244d;
           border-radius: 5px;
       }

       footer {
           margin-top: 2em;
           text-align: center;
       }

       footer p {
           margin-top: 2em;
       }
       </style>

</head>



<body >
  
      
  <nav class="uk-navbar-toggle" uk-navbar id="nav" ">
    <div class="uk-navbar-center">
    
            <div class="uk-navbar-center-left">
              <div>
              
                <ul class="uk-navbar-nav">
                    <li class="uk-active"><a href="{% url 'about' %}">About Us </a></li>
                    <!-- <li class="uk-active"><a href="{% url 'about' %}">About Us </a></li> -->
                    <li>
                        <a href="#">Programs</a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                <li class="uk-active"><a style="color:black" class="dp"  href="{% url 'bscom' %}">BS Computer Science</a></li>
                                <!-- <li><a style="color:black"  href="#">Math</a></li>
                                <li><a style="color:black"  href="#">Political Science</a></li> -->
                            </ul>
                        </div>
                    </li>
                </ul>
            </div></div>
            <a class="uk-navbar-item uk-logo" href="{% url 'login'  %}">Department Managment System</a>
            <div class="uk-navbar-center-right"><div>
                <ul class="uk-navbar-nav">

                    <li><a href="#">Administration</a>
                      <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            <li class="uk-active"></u><a class="dp" href="{% url 'facutly' %}" style="color:black">Faculty</a></li>
                            <li><a class="dp" href="{% url 'admissions' %}" style="color:black">Admissions</a></li>
                            <li><a href="#">Item</a></li>
                        </ul>
                    </div></li>
                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
            </div></div>
    
        </div>
    </nav>


    <div id="modal-example" uk-modal>
      <div class="uk-modal-dialog uk-modal-body">
          <h2 class="uk-modal-title">Announcement</h2>
          {% for anon in announcments %}
          <p>{{anon.msg}} <br><code>{{anon.date}}</code></p>
          
          {% endfor %}
          <p class="uk-text-right">
              <button class="uk-button uk-button-primary uk-modal-close" type="button">Close</button>
          </p>
      </div>
  </div>

      <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="ratio: 7:3; animation: push; autoplay:true;"> 
<div class="uk-visible-toggle" uk-slider="autoplay: true">
      <ul class="uk-slideshow-items">

        <li>
          <img src="{% static '../static/6.jpg'%}" alt="" uk-cover>
      </li>
      <li>
        <img src="{% static '../static/4.jpg'%}" alt="" uk-cover>
    </li>

    <li>
      <img src="{% static '../static/5.jpg'%}" alt="" uk-cover>
  </li>
  
          <li>

              <img src="{% static '../static/1.jpg'%}" alt="" uk-cover>
          </li>
          <li>
              <img src="{% static '../static/2.jpg'%}" alt="" uk-cover>
          </li>
          <li>
              <img src="{% static '../static/3.jpg'%}" alt="" uk-cover>
          </li>
      

        <li>
          <img src="{% static '../static/5.jpg'%}" alt="" uk-cover>
      </li>

      </ul>
  
      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
  </div>
  </div> 


  <!-- <h1 class="uk-heading-line"><span>WHAT OUR</span></h1>

  <h1 class="uk-heading-line uk-text-center"><span>Academic is </span></h1>
  
  <h1 class="uk-heading-line uk-text-right"><span>OFFERING </span></h1> -->
  
  
  
  <div class="uk-section uk-section-danger uk-preserve-color">
    <div class="uk-container">

        <div class="uk-panel uk-light uk-margin-medium">
          <center><h2 style="color:#03244d;"> WELCOME TO THE COMPUTER SCIENCE DEPARTMENT <br>University of Science and Technology Bannu Lakki Marwat Campus </h2></center>

        </div>

        <div class="uk-child-width-1-2@s uk-grid-match" uk-grid>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-slide-left; repeat: true">
              <h3 class="uk-card-title">Apply Now</h3>
              <p>You can apply now for the admission at our online admission portal. </p>
              <a href="{% url 'admissions' %}"><button class="uk-button uk-button-danger">Click Here to Read More</button></a>

          </div>
          </div>
          <div>
              <div class="uk-card uk-card-default uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-slide-right; repeat: true">
                  <h3 class="uk-card-title">FACULTY & STAFF</h3>
                  <p>Search the profiles of our faculty and staff members on our Faculty/Staff Portal. </p>
                  
                  
                  <a href="{% url 'facutly' %}"><button class="uk-button uk-button-danger">Click Here to Read More</button></a>
              </div>
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
              <h3 class="uk-card-title">ACADEMIC RESOURCES</h3>
              <p>Browse and search our complete list of excellent academic resources. .</p>
              <a href="{% url 'bscom' %}"><button class="uk-button uk-button-danger">Click Here to Read More</button></a>

          </div>  
          </div>
          <div>
            <div class="uk-card uk-card-default uk-card-hover uk-card-body" uk-scrollspy="cls: uk-animation-slide-bottom; repeat: true">
              <h3 class="uk-card-title">Default</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
              <a href="#"><button class="uk-button uk-button-danger">Click Here to Read More</button></a>

          </div>
          </div>
      </div>
    </div>
</div>

  <hr class="uk-divider-icon">
  <div class="uk-container uk-container-expand">
  <div class="uk-child-width-1-2@s" uk-grid>
    <div>
        <div class="uk-panel">
          <h3>
            Who We Are?
          </h3>

          <p>
            Rapid intellectual advances over the past fifty years have created a new field of intellectual endeavor, called Computer Science in North America and Informatics in Europe. The field not only encompasses a large body of knowledge about algorithms, processes, information, communication, languages, and systems but also concerns a new paradigm for representing and acquiring knowledge.

Computer Science programs at CU provide solid theoretical foundations by offering intellectually challenging courses designed by leading experts.
          </p>

        </div>
    </div>
    <div>
        <div class="uk-panel" >
          
          <article class="uk-comment">
            <header class="uk-comment-header">
                <div class="uk-grid-medium uk-flex-middle" uk-grid>
                    <div class="uk-width-auto">
                        <img class="uk-comment-avatar" src="images/avatar.jpg" width="80" height="80" alt="">
                    </div>
                    <div class="uk-width-expand">
                        <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Message From HOD</a></h4>
                        <ul class="uk-comment-meta uk-subnav uk-subnav-divider uk-margin-remove-top">
                            <!-- <li><a href="#">12 days ago</a></li>
                            <li><a href="#">Reply</a></li> -->
                        </ul>
                    </div>
                </div>
            </header>
            <div class="uk-comment-body">
                <p>
                  Welcome to the Computer Science Department (CS) at Bannu University  (BUST), Lakki Marwat Campus. As Head of Department, I would like to share with you some highlights of our department - our world class faculty, flexible degree program options, successful alumni, and great job markets. Information, computing and communication technologies pervade nearly all aspects of today's digital society and will continue in the decades ahead to be of critical importance to the nation's technological infrastructure.                 </p>
            </div>
        </article>


        </div>
    </div>
    <!-- <div>
        <div class="uk-panel">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
    </div> -->
</div>
</div>
<hr class="uk-divider-icon">



<div class="uk-section uk-section-muted">
  <div class="uk-container">

      <h3>Latest Upates</h3>

      <dl class="uk-description-list uk-description-list-divider">

        {% for anon in announcments %}
        
       
        <dt>{{anon.date}}</dt>
        <dd>{{anon.msg}}.</dd>
        {% endfor %}
    </dl>

  </div>
</div>
<!-- <a class="uk-button uk-button-default" href="#modal-center" uk-toggle>Open</a> -->

<div id="modal-center" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default" type="button" uk-close></button>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </div>
</div>

</div>


</div>
<hr class="uk-divider-icon">

<footer>
  <p>Copyright By HOD</p>
</footer>


</body>

</html>
<script>
  var util = UIkit.util;

util.on(document, 'DOMContentLoaded', function () {
  var modalEl = util.$('#modal-example');
  UIkit.modal(modalEl).show();
});


</script>



