
     <!DOCTYPE html>
     <html lang="en">
     <head>
         <meta charset="UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <title>About Us </title>
         <!-- <link rel="stylesheet" href="css/bootstrap.css"> -->
         {% load static %}
     
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
         <title>Document</title>
     <style type="text/css">
     body {
       color: #8B9AA7;
       font-family: Arial,sans-serif;
     }
     
     .carousel-inner{
       height: 31em;
     }
     
     .navbar-custom{
       background-color: #3f51b5;
     }
     
     a {
       color: white;
     }
     a:hover {
       color:white;
       border-bottom: 1px solid #8B9AA7;
     
     }
     
     </style>
     </head>
     <body>
       
     
     
     
               <nav class="navbar navbar-expand-lg" style="background-color:#03244d; color: white;">
                 <a class="navbar-brand" href="#">CMS</a>
                 <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                   <span class="navbar-toggler-icon" ></span>
                 </button>
               
                 <div class="collapse navbar-collapse" id="navbarSupportedContent">
                   <ul class="navbar-nav mr-auto" style="margin-left: 60%;">
                     <li class="nav-item active">
                       <a class="nav-link" href="{% url 'index' %}">Home </a>
                     </li>
                     <li class="nav-item">
                      <a class="nav-link" href="{% url 'admissions' %}">Admissions</a>
                    </li>
                     <li class="nav-item dropdown">
                       <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Academic
                       </a>
                       <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{% url 'computer' %}">Computer Sciecne</a>
                        <a class="dropdown-item" href="{% url 'math' %}">Math</a>
    
                        <a class="dropdown-item" href="{% url 'political' %}">Political Science</a>
                       </div>
                     </li>
                
                                     <li class="nav-item">
                       <a class="nav-link" href="{% url 'contact' %}" >Contact Us <span class="sr-only">(current)</span></a>
                     </li>
     
                     <li class="nav-item">
                       <a class="nav-link" href="{% url 'login'  %}">Student Portal</a>
                     </li>
                   </ul>          
             
                 </div>
               </nav>
          
     
     
         
     
               <div class="jumbotron jumbotron-fluid" style="background-color: white;">
                 <div class="container">
                  <h5>MATH Department</h5><br>

                     <ul class="nav nav-tabs" id="myTab" role="tablist">
                         <li class="nav-item">
                           <a class="nav-link active" style="color: black;" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">INTRODUCTION</a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="profile-tab" style="color: black;" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">PROGRAMME
     
                         </a>
                         </li>
                         <li class="nav-item">
                           <a class="nav-link" id="contact-tab" style="color: black;" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">FACULTY</a>
                         </li>
                       </ul>
                       <div class="tab-content" id="myTabContent">
                         <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                          <p>  <br> <b>INTRODUCTION</b><br>
     
                             The Department of Computer Science was established in 2005 in the Institute of Information Technology, UST Bannu. But later on in 2011 the name of IIT changed to Institute of Engineering and Computing Sciences (IECS), which is located in City Campus - A, Kohat Road Bannu City. The department have own state of Art Labortories facilities and dedicated qualified and experienced faculty. 
                             
                             
                             <br><br><b>VISION</b><br>
                             
                             The department vision is.:
                             
                             Strengthening research and academics through up-to-date curricula, adequate Infrastructure, well -qualified faculty, academic and research collaboration with other universities both within and outside the country, and arrangement of conferences, symposia, and conferences.
                             Collaboration with industry and market -sector. Collaboration with industry brings rich dividend and is beneficial. It helps universities assess industry needs and identify gaps in industrial practices and process and industry on the other hand to identify skills and knowledge to tape to improve their practices. The department will strengthen its links with industry.
                             Department focus on local needs and problems. Use of technology pervades all aspects o f our lives yet information technology effective still evades local businesses, organizations, and market sector. The reason for this is, organizations have rules and practices local to our society. Most of the research unfortunately targets the needs and problems of industrialized societies. The department will gear its research to local needs and problems.
                             Seminars, job fairs, and career-counseling provide important opportunities for students to target potential employers and employers to target potential human resource. The department will intensify job fairs seminars and related activates and attract reputed firms and companies to enables contacts between students and potential employers.
                             
                             
                         <br><br>   <b> MISSION</b><br>
                             
                             The department seeks to acquire the highest standard in research and academics. The unending mission of the department is to keep acquiring resource and capacities to equip students for high-end research and industry-level job-demand. The aim thus is to generate knowledge and impart skills that will enable students in their career goals and benefit the society at large in terms of adequate supply of skilled work-force and new ideas for solving problems. 
                              
     </p>
                         </div>
                         <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
     <br>
                                 <h5>COMPUTER SCIENCE PROGRAMME </h5>
                                 <br>
                                 <table class='table table-sm' >
                                     <tr> 
                                       <th>Sr.# </th>
                                       <th>Title </th>
                                       <th>Duration</th>
                                     </tr>
                           
                           
                                   <tr>
                                     <td>1</td>
                                     <td>BS Computer Science</td>
                                     <td>4 Years</td>
                                   </tr>
                            
                                   </table>
                         </div>
                         <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                             <br>
                             <h5 style="color: black;"><b>HOD/Chairman</b></h5>
                             <table class='table table-sm' >
                                 <tr> 
                                   <th>Name</th>
                                   <th>Designation </th>
                                   <th>Qualifcation</th>
                                   <th>Email Address</th>
                                   <th>Phone No.</th>
                                 </tr>
                       
                       
                               <tr>
                                 <td>Irfan Ullah Haq</td>
                                 <td>Chairman</td>
                                 <td>MS COMPUTER SCIECNE</td>
                                 <td>irfan@mail.com</td>
                                 <td>123457890</td>
     
                               </tr>
                        
                               </table>
     
                               <br>
                               <h5 style="color: black;"><b>FACULTY/STAFF
     
                             </b></h5>
                               <table class='table table-sm' >
                                   <tr> 
                                     <th>Name</th>
                                     <th>Designation </th>
                                     <th>Qualifcation</th>
                                     <th>Email Address</th>
                                     <th>Phone No.</th>
                                   </tr>
                         
                         
                                 <tr>
                                   <td>Irfan Ullah Haq</td>
                                   <td>Chairman</td>
                                   <td>MS COMPUTER SCIECNE</td>
                                   <td>irfan@mail.com</td>
                                   <td>123457890</td>
       
                                 </tr>
                                 <tr>
                                     <td>Irfan Ullah Haq</td>
                                     <td>Chairman</td>
                                     <td>MS COMPUTER SCIECNE</td>
                                     <td>irfan@mail.com</td>
                                     <td>123457890</td>
         
                                   </tr>
                                   <tr>
                                     <td>Irfan Ullah Haq</td>
                                     <td>Chairman</td>
                                     <td>MS COMPUTER SCIECNE</td>
                                     <td>irfan@mail.com</td>
                                     <td>123457890</td>
         
                                   </tr>
                                 </table>
     
     
                         </div>
                       </div>
                     </div>
           </div>
     
           <!-- Footer -->
     <footer class="page-footer font-small special-color-dark pt-4">
     
       <!-- Footer Elements -->
       <div class="container">
     
         <!-- Social buttons -->
         <ul class="list-unstyled list-inline text-center">
           <li class="list-inline-item">
             <a class="btn-floating btn-fb mx-1">
               <i class="fab fa-facebook-f"> </i>
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-tw mx-1">
               <i class="fab fa-twitter"> </i>
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-gplus mx-1">
               <i class="fab fa-google-plus-g"> </i>
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-li mx-1">
               <i class="fab fa-linkedin-in"> </i>
             </a>
           </li>
           <li class="list-inline-item">
             <a class="btn-floating btn-dribbble mx-1">
               <i class="fab fa-dribbble"> </i>
             </a>
           </li>
         </ul>
         <!-- Social buttons -->
     
       </div>
       <!-- Footer Elements -->
     
       <!-- Copyright -->
       <div class="footer-copyright text-center py-3">© 2020 Copyright:
         <a href="#"> SADH</a>
       </div>
       <!-- Copyright -->
     
     </footer>
     <!-- Footer -->
     </body>
     </html>
     
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
     
     
     
              
     
       </div>
     
     
     